name: Deploy

on:
  workflow_run:
    workflows: ["Docker Build and Push"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: loggear la WEBHOOKS_STACK
      run: echo ${{ vars.WEBHOOKS_STACK_LATEST }}

    - name: Deploy to Portainer
      run: curl -X POST ${{ vars.WEBHOOKS_STACK_LATEST }}
